<div class="container mt-5">
  <div class="row">
    <div class="col">

      <div class="card mb-3">
        <img src="https://static.wixstatic.com/media/68fa0b_8e9d7263354b40bc87e401eda0b5f683~mv2.jpg/v1/fill/w_593,h_356,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/pc_para_streaming_gaming.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Encuestas</h5>
          <p class="card-text">Sistema para registrar opiniones acerca de marcas de computadores.</p>
          <p class="card-text"><small class="text-body-secondary">{{fecha}}</small></p>
        </div>
      </div>


    </div>
  </div>
</div>
